version: "2.4"

services:
  blog_app:
    container_name: blog_app
    image: blog:1.0
    build: .
    ports:
      - "8808:8808"

  blog_mysql:
    container_name: blog_mysql
    image: mysql:latest
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    security_opt:
      - seccomp:unconfined
    environment:
      - "MYSQL_ROOT_PASSWORD=lzp123456"
      - "MYSQL_DATABASE=blogdata"
    volumes:
      - /app/mysql/datadir:/var/lib/mysql




